*,
*::after,
*::before {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {

}

@font-face {
    font-family: "Norse Bold";
    src: url(assets/fonts/Norsebold.otf);
}

img {
    max-width: 100%;
}

body {
    display: flex;
}

.banner {
    background-image: url(assets/images/halie-west-25xggax4bSA-unsplash.jpg);
    /* background-size: cover;
    height: 100vh;
    width: 35%; */
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
        
    /* Preserve aspet ratio */
    min-width: 35%;
    min-height: 100%;
}

.logo {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    padding: 0.5rem 0;
    margin-top: 9rem;

    display: flex;
    justify-content: center;
}

.logo img {
    object-fit: cover;
}

.logo p {
    font-family: "Norse Bold";
    color: white;
    font-size: 5rem;
    margin: auto 0;
}