*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Norse Bold";
    src: url(assets/fonts/Norsebold.otf);
}

img {
    max-width: 100%;
}

body {
    display: flex;
    justify-content: end;
    background-color: #F2F2F2;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.banner {
    background-image: url(assets/images/halie-west-25xggax4bSA-unsplash.jpg);
    /* background-size: cover;
    height: 100vh;
    width: 35%; */
    background-size: cover;
    position: absolute; 
    top: 0; 
    left: 0; 
        
    /* Preserve aspet ratio */
    min-width: 35%;
    min-height: 100%;
}

.logo {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    padding: 0.5rem 0;
    margin-top: 9rem;

    display: flex;
    justify-content: center;
}

.logo img {
    object-fit: cover;
}

.logo p {
    font-family: "Norse Bold";
    color: white;
    font-size: 5rem;
    margin: auto 0;
}

.content {
    width: 65%;
}

.message {
    margin-top: 6.5rem;
    margin-bottom: 2.5rem;
}

.message__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 1.05rem 0;

    width: 70%;
}

.signin {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2rem;
}

.signin__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    margin-bottom: .9rem;
}

.signin__field {
    display: flex;
    flex-direction: column;
    gap: .2rem;
} 

.signin__button {
    border: none;
    background-color: #596D48;
    font-weight: bold;
    color: white;
    width: 25%;
    padding: .8rem 0;
    border-radius: 7px;

    margin-bottom: 2rem;
    cursor: pointer;
}

.field__input {
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    height: 1.65rem;
}

.field__input:focus {
    outline: none;
    border: 1px solid #0047AB;
    box-shadow: 1px 1px 5px #A9A9A9 ;
}

.field__label {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
}

.field-container {
    width: 100%;
    gap: 10%;
}

.field-container > div {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 10px;
}

.loging-text {
    font-family: "Roboto", sans-serif;

}

.loging-text > a {
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}

.loging-text > a:hover {
    text-decoration: underline;
}