*,
*::after,
*::before {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



img {
    max-width: 100%;
}

body {
    display: flex;
}

.banner {
    background-image: url(assets/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 35%;
}

